.default
{
    background: rgb(28, 184, 65) none repeat scroll 0 0;
    color: white;
}
.another
{
    background: rgb(66, 184, 221) none repeat scroll 0 0;
    color: white;
}
.error
{
    background-color: #ff0000;
    box-shadow: 10px 10px 5px #880000;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
fieldset
{
    margin: 50px 0;
}
label
{
    display: inline-block;
    text-align: right;
    width: 45%;
}