.default
{
    background: rgb(28, 184, 65) none repeat scroll 0 0;
    color: white;
}
.label
{
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 45%;
}
.thumb
{
    max-height: 150px;
    max-width: 200px;
    margin-left: 50%;
}